body{
            margin: 0 auto;
            background-color: hsla(210, 7%, 94%, 0.911);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        h1{
            margin:  0;
        }
        h2{
            background-color: rgb(247, 243, 247);
        }
        header{
            background: color #dab7d7;
            color: #dab7d7;
            text-align: center;
            padding:  15px;
        }

        main {
            padding: 16px;
        }
        section{
            background-color: #f5f5f5;
            padding: 16px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            border-radius: 8px;
            margin: 16px 0;
            
        }
        h2{
            border-bottom: 2px solid #dab7d7;
            padding-bottom: 8px;
            margin-bottom: 16px;
        }
        footer{
            background-color: #dab7d7;
            padding: 16px;
            text-align:  center;
            color:#fff;
            font-size: 16px;
            position: fixed;
            bottom:  0;
            width: 100%;
        }