body {
    margin: 0;
    background-color: #d1d1d1d1;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #af6b4c;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 16px;
}

header a {
    text-decoration: none;
    background-color: #552c1a;

    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 1s  ease;

}

header a:hover {
    background-color: #421703;
}

h1 {
    margin: 0 0 20px 0;

}

main {
    padding: 16px;
}

section {
    background-color: #fff;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 16px 0;
}

.last {
    margin-bottom: 80px;
}

h2 {
    border-bottom: 2px solid #af6b4c;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

#cor {
    width: 50px;
    height: 50px;
}

input,
textarea,
select {
    width: 99%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form div {
    margin-bottom: 16px;
}

form button {
    background-color: #af6b4c;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 12px 24px;
    cursor: pointer;

}

form button:hover {
    background-color: #5c2a14;
}



footer {
    background-color: #af6b4c;
    text-align: center;
    padding: 16px;
    color: #fff;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
}